# Estructura de datos en Python

En Python podemos encontrar distintos tipos de datos con diferentes características y clasificaciones. En esta sesión repasaremos los tipos de datos básicos, aunque se mencionarán otros tipos que servirán en el futuro.

<img src="Datatypes-in-python.jpg" width="600">

**Numéricos**

        int >>> Numero entero

In [1]:
# También se pueden escribir así
123456

123456

In [2]:
edad = 23
edad

23

        float >>> Número decimal (no exactamente)

In [3]:
pi = 3.14
pi

3.14

        complex >>> números imaginarios

In [4]:
complejo = 1+2j
complejo.real

1.0

In [5]:
complejo.imag

2.0

**Set:** Contenedor de varios valores dentro de una variable. No tienen orden ni indice

In [6]:
set1 = {"manzanas", "banana", "cereza"}
print(set1)

{'banana', 'manzanas', 'cereza'}

**Diccionarios:**
son tipos especiales de contenedores en los que se puede acceder a sus elementos a partir de una clave única.

In [31]:
dic = {"nombre" : "Natalia", "valor_pi" : pi , "edad" : edad}
print (dic["nombre"])

Natalia

In [8]:
dic.values

In [33]:
lista = dic.keys
lista

**Boolean**

In [9]:
boolean1 = True
boolean1

True

**Tipos de secuencias**

**Strings (cadenas de chars)**

In [10]:
name = "Natalia"
name

'Natalia'

**Listas:** Son conjuntos mutables (se pueden cambiar)

In [11]:
alumnos = ["María", "Pedro","Juan","Azul","Oliver"]
alumnos

['María', 'Pedro', 'Juan']

In [14]:
alumnos[5]

IndexError: list index out of range

In [26]:
sliced = alumnos [1:3]
sliced

('Pedro', 'Juan')

**Tuplas:** Son conjuntos estáticos (no se pueden manejar de forma tan dinámica como las listas)

In [15]:
alumnos = ("María", "Pedro","Juan")
alumnos

('María', 'Pedro', 'Juan')

In [16]:
alumnos[0]

'María'

[Más información sobre los tipos de datos](https://j2logo.com/python/tutorial/tipos-de-datos-basicos-de-python/#:~:text=Los%20tipos%20de%20datos%20b%C3%A1sicos%20de%20Python%20son%20los%20booleanos,tipos%20list%2C%20tuple%20y%20range)

[Más información sobre listas y tuplas](https://recursospython.com/guias-y-manuales/listas-y-tuplas/#:~:text=La%20diferencia%20es%20que%20las,que%20las%20tuplas%20son%20est%C3%A1ticas.)

# Conversión de tipos de datos

    Convertir a cadena de texto (string): str()
    Convertir a entero: int()
    A punto flotante (números decimales): float()
    A booleano: bool()

In [17]:
str(edad)

'23'

In [18]:
print (str(edad) + "años")

23años

In [19]:
int("años")

ValueError: invalid literal for int() with base 10: 'años'

In [20]:
numero = "306"
numero

'306'

In [21]:
numero = int (numero)
numero

306

In [22]:
edad * numero

7038

## Input y ejercicio de práctica
Podemos utilizar la función input() para recibir una entrada del usuario. Esta entrada es de typo string.

In [23]:
x = input('Ingrese su valor')
print(x)

Ingrese su valor5
5

Escriba un codigo que reciba un integer como input del usuario, guarde este input en una variable a.
Reciba una segundo input del usuario que sea tipo float, guarde este valor como una variable b.
A partir de esta variable imprima las siguientes operaciones

                                    a + b
                                    a - b
                                    a * b
                                    a ** b
                                    a / b

In [25]:
a = input("Ingrese un numero completo")
b = input("Ingrese un numero decimal")
a = int(a)
b = float(b)
print(a + b)
print(a - b)
print(a * b)
print(a ** b)
print(a / b)

Ingrese un numero completo8
Ingrese un numero decimal2.5
10.5
5.5
20.0
181.01933598375618
3.2